/* NAVBAR */
.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

/* Products */

.product-item {
    display: inline-block;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

/* Product */
.product-price-single {
    font-size: 19px;
    font-weight: bold;
}

/* FOOTER */
.footer-custom {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #99460a;
    color: #fff;
    padding-top: 25px;
    margin-right: 0;
    max-width: 100%;
}