/* SHARED */

body {
    position: relative;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    background-color: #f2ebe7;
    min-height: 100vh;
}

main {
    min-height: 80vh;
}

.form-select {
    width: 100% !important;
    padding: 6px 6px 7px 7px;
    border: 1px solid #f2ebe7;
    color: #495057;
    border-radius: .25rem;
}

.btn {
    background-color: #6e2e00 !important;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #8b3a00 !important;
    border: none;
}

a:hover {
    text-decoration: none;
}

/* NAVBAR */
nav {
    background-color: #6e2e00 !important;
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

/* HOME */
#myCarousel {
    background-color: black;
}


/* Products */

.product-item {
    display: inline-block;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

/* Product */
.product-price-single {
    font-size: 19px;
    font-weight: bold;
}

/* Login */
.block-small {
    max-width: 600px;
    margin: 0 auto;
}

/* Order */
.form-check {
    background-color: #6e2e00 !important;
    color: #f2ebe7;
    padding: 15px 45px;
    margin-top: 7px;
    border-radius: 0.25rem;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
}

/* FOOTER */
.footer-custom {
    text-align: center;
    bottom: 0;
    background-color: #6e2e00 !important;
    color: #fff;
    padding-top: 25px;
    margin-right: 0;
    margin-top: 20px;
    max-width: 100%;
    height: 90px;
}